<footer>
  <ul>
    <li>
      <a href="mailto:veccoppell1@gmail.com">
        <i class="fa fa-envelope"></i>
        <p>Email</p>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/vec_organization_coppell" target="_blank">
        <i class="fa fa-instagram"></i>
        <p>Instagram</p>
      </a>
    </li>
    <li>
      <a href="https://melnewzers.blogspot.com/" target="_blank">
        <i class="fa fa-rss-square"></i>
        <p>MELnewzers Blog</p>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCe_uOzcJZSvVkLkPUJFX2VA" target="_blank">
        <i class="fa fa-youtube-play"></i>
        <p>YouTube</p>
      </a>
    </li>
  </ul>
</footer>
