<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="P29TgX68UkcWrwZJGe96aq85N6rrZfAPFkYS7hmKXhc" />

  {% if page.title %}
   <title>{{ page.title }}</title>
  {% else %}
    <title>VEC</title>
  {% endif %}

  <link type="text/css" rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
